<!DOCTYPE html>
<html>
  <head>
    <title>TITLE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <br>
    <div class="row text-center">

      <h1><%= link_to 'CATSY', root_path, :class => 'brand' %></h1></br>

      <h5> WELCOME TO CATSY </h5> &#x1f43e
    </div>

  <div class="scroll">
    <div class="row small-up-1 medium-up-2 large-up-3">
      <% @items.each do |item| %>
        <div class="column">

          <div class="item-wrapper">
            <div class="row">
              <div class="large-12 large-centered column text-center">
                <div class="img-wrapper">
                  <% if current_user %>
                    <%= link_to "Add To Cart", user_profile_path(current_user, item_id: item.id), class: "button expand add-to-cart" %>
                  <% else %>
                    <a class="button expand add-to-cart">Add to Cart</a>
                  <% end %>

                  <% if item.item_picture_url.url.nil? %>
                    <%= link_to image_tag('WDF_2463360.jpg'), item_path(item) %>
                  <% else %>
                    <a href="/items/<%= item.id %>"><img src="<%= item.item_picture_url %>" width="200" height="200"></a>
                  <% end %>
                </div>
                <h4><%= link_to item.name, item_path(item) %></h4>
                <h5>$ <%= item.price %></h5>
                <p><%= item.description %></p>
                </div>
            </div>
          </div>
      </div>
      <% end %>
    </div>
    <%= will_paginate @items %>
  </div>
  </body>
</html>
