<h2>New Item Form</h2>

<%= form_for @item do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :category %>
  <%= f.collection_select(:category_id, Category.all, :id, :name, { :prompt => 'Category', :selected => @item.category_id}, {class: 'form-control' }) %>

  <%= f.label :price %>
  <%= f.text_field :price %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :item_picture %>
  <%= f.file_field :item_picture_url, class: "form-control"%>

  <%= f.submit "Add Item"%>
<% end %>
