<div class="flex-col small-10 medium-6 large-4">
  <div class="product-info">
    <h1><%= @item.name %> (<%= @item.category.name %>)</h1>
    <h5>Price:  <%= number_to_currency @item.price %> </h5>
  </div>
  <div class="pic">
    <% if @item.item_picture_url.url.nil?%>
    <%= image_tag("WDF_2463360", width:'300', height: '300') %><br />
    Seller did not add an item picture for <%= @item.name %> <br /><br />
    <% else %>
    <img id="item_picture" src="<%= @item.item_picture_url %>" width= "300" length= "300" alt="<%= @item.name %>" /> <br /><br />
    <% end %>
  <p><b>Item Detail:</b> <%= @item.description %> </p>
  <p><b>Seller's Email:</b> <%= @item.seller.email %></p>
    <div id="map-canvas-0" style="width:500px; height: 300px;"></div>
    <%= hidden_field( :address, :field, :value => @item.seller.address ) %>

    <%= javascript_include_tag "maps.js" %>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXrKWrMR87cYrUwB-Gpm77ncvr-CkEdcU&callback=initMap">
    </script>
    <div>
      <% if current_user %>
        <%= link_to "Add to Cart", user_profile_path(current_user, item_id: @item.id), class: "button expand add-to-cart" %>
      <% else %>
        <a class="button expand add-to-cart">Add to Cart</a>
      <% end %>
    </div>
  </div>
</div>
