
  <!-- <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet"> -->

  <nav class="header">
    <h1 class="main-header">CATSY!</h1>
    <ul class="header-subnav dropdown menu" data-dropdown-menu>
      <li><%= link_to "HOME", root_path %></li>
      <li><%= link_to "About", pages_about_path %></li>
      <li><%= link_to "Add New Item", new_item_path if current_user %></li>
      <li><%= link_to 'Sign up', new_user_registration_path unless current_user %></li>
      <li><%= link_to "Sign in", new_user_session_path unless current_user %></li>
      <li><%= link_to "User Profile", user_profile_path(current_user) if current_user%></li>
      <li><%= link_to "Edit profile", edit_user_registration_path, method: :get if current_user %></li>
      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete if current_user %></li>
      <li>
            <a href="#">Category<span class="caret"></span></a>
            <ul class="catlist menu">
              <% categories_list.each do |category| %>
              <li><%= link_to category.name, category_path(category.id) %></li>
              <% end %>
            </ul>
      </li>


      		<div>
      			<span id="searchText">Search <span class="glyphicon glyphicon-search"></span></span>
      			<div class="btn-group">
              <%= form_tag search_items_path(:search), method: 'GET' do %>
              <%= text_field_tag :search, "", id: "searchField", style: "display: none;" %>
      				<!-- <input id="searchField" type="search" style="display:none;" class="form-control"> -->
              <% end %>
      				<!--<span id="searchClear" class="glyphicon glyphicon-remove form-control-feedback" ></span>-->
      			</div>
      		</div>
        </ul>
</nav>
