<!DOCTYPE html>
<html>
<head>
  <title>CATSY</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to 'Sign up', new_user_registration_path unless current_user %>
  <%= link_to "Sign in", new_user_session_path unless current_user %>
  <%= link_to "Edit profile", edit_user_registration_path, method: :get if current_user %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete if current_user %>

<%= yield %>

</body>
</html>
